# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## 
*.DS_Store
.DS_Store
xcuserdata
*.xcuserdatad
## Build generated
build/
DerivedData/

## idea
.idea/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3


## Other
*.moved-aside
*.xcuserstate

iOSInjectionProject/

infer-out/
